.p-table {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  gap: 3px;
  display: flex;
  /* aspect-ratio: 1 / 1; */
  div {
    background: coral;
    padding: 10px;
    text-align: center;
    font-size: 24px;
  }
  div:first-child {
    margin-right: auto;
  }
  div:nth-child(2) {
    margin-right: auto;
  }
}
